@model IEnumerable<Acho.Models.Observacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animais.AnimalNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
